---
# BasedOnStyle:  Google
AccessModifierOffset: -6
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackParameters: true
ColumnLimit:     80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerBinding: true
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
ObjCSpaceBeforeProtocolList: false
PenaltyBreakComment: 45
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
PointerBindsToType: true
SpacesBeforeTrailingComments: 2
SpacesInBracedLists: false
Standard:        C++11
IndentWidth:     8
UseTab:          false
BreakBeforeBraces: Linux
...

